CONFIG_VERSION="1.0"

REPORT_EMAIL=""
ENABLE_IPS=true

# SURICATA CONFIGURATION
SURICATA_ENABLE_LOG=true
SURICATA_ENABLE_CSF_BLOCK=true
SURICATA_ENABLE_LINODE_BLOCK=true

# MAXIWALL.LUA CONFIGURATION
MAXIWALL_OUTPUT_MAX_LIMIT=500
MAXIWALL_OUTPUT_SLEEP_RATE=5
MAXIWALL_ENABLE_WHITELIST=true
MAXIWALL_ENABLE_BLACKLIST=true
MAXIWALL_ENABLE_IGNORELIST=true
MAXIWALL_ENABLE_SUPPRESSLIST=true

# MODSECURITY CONFIGURATION
MODSECURITY_ENABLE_SCAN=true

# BLOCK ACTION
CSF_ENABLE_SCAN=true
CSF_ENABLE_CIDR_SCAN=true

# LINODE FIREWALL BLOCK ACTION
LINODE_FIREWALL_API_KEY=""

# AIPDB CONFIGURATION
ABUSEIPDB_ENABLE_SCAN=true
ABUSEIPDB_ENABLE_WEB_REPORT=true

# BLCHECK CONFIGURATION
BLCHECK_ENABLE_SCAN=false

# GREYNOISE CONFIGURATION
GREYNOISE_ENABLE_SCAN=true

# VIRUSTOTAL CONFIGURATION
VIRUSTOTAL_ENABLE_SCAN=true

# MAXILOG CONFIGURATION
MAXILOG_ENABLE_SCAN=true

# DABFM CONFIGURATION
DABFM_ENABLE_SCAN=false